body {
   background: blue; 
   font: normal 15pt arial;
}

header {
    color: cornsilk;
    text-align: center;
}

section {
    background: cornsilk;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
}

div {
    background: cornsilk;
    border-radius: 10px;
    padding: 15px;
    width: 80px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
    position: absolute;
    left: 1200px;
    bottom: 640px;
}

tr, th, td {
    text-align: center;
}

p#escolha-oponente {
    position: relative;
    left: 240px;
    bottom: 43px;
}

img#imagem-jogador {
    position: relative;
    left: 0px;
    bottom: 35px;
}

img#imagem-oponente {
    position: relative;
    left: 80px;
    bottom: 35px;
}

p#resultado {
    text-align: center;
}